.box{
    height: 100px;
    width: 100px;
    background: red;
    margin: 5em auto;
    animation: action 4s forwards ease-in-out;
}

@keyframes action{
    0%{
        background: red;
        top: 0px;
        left: 0px;
        border-radius: 0 0 0 0;
    }
    25%{
        top: 50px;
        left: 100px;
        border-radius: 0 0 0 50%;
        box-shadow: 5px 110px 0px 0px orange;
    }
    50%{
        top: 150px;
        left: 0px;
        border-radius: 0 50% 0 50%;
        box-shadow: 5px 110px 0px 0px orange, 110px 110px 0px 0px blue;
    }
    75%{
        top: 50px;
        left:-100px;
        border-radius: 0  50% 50% 50%;
        box-shadow: 5px 110px 0px 0px orange, 110px 110px 0px 0px blue, 110px 0px 0px 0px green;
    }
    100%{
        background: red;
        top: 0px;
        left: 0px;
        border-radius: 50%;
        box-shadow: 5px 110px 0px 0px orange, 110px 110px 0px 0px blue, 110px 0px 0px 0px green;

    }
}

